[ req ]
default_bits       = 2048
prompt             = no
default_md         = sha256
distinguished_name = req_distinguished_name
req_extensions     = v3_req

[ req_distinguished_name ]
C  = DE
ST = Berlin
L  = Berlin
O  = Example GmbH
OU = IT Department
CN = client.example.com
emailAddress = client@example.com

[ v3_req ]
basicConstraints = critical, CA:FALSE
keyUsage = critical, digitalSignature