[ ca ]
default_ca = CA_default

[ CA_default ]
default_days = 3650
default_md = sha256
x509_extensions = v3_ca
prompt = no

[ req ]
distinguished_name = req_distinguished_name
x509_extensions = v3_ca
prompt = no

[ req_distinguished_name ]
C  = DE
ST = Berlin
L  = Berlin
O  = Example GmbH
OU = IT Department
CN = Example Root CA
emailAddress = ca@example.com

[ v3_ca ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always
basicConstraints = critical, CA:TRUE
keyUsage = critical, keyCertSign, cRLSign, digitalSignature